@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');
* {margin:0;padding:0;}
html {font-size:16px;}
a {text-decoration:none;}
body {font-size:16px;font-family:'Noto Sans KR', sans-serif;color:#000;}
h2 {font-size:2rem;}
h3 {font-weight:300;}
ul li {list-style:none;}
a{text-decoration:none; color:#000;}

header{width:200px; height:100%;position:fixed;z-index:100;}
#headerIn h1{font-size:24px; padding-top:5px;margin-bottom:250px;}
.gnb{}
.gnb li{text-align:left;font-size:17px;padding:20px 0;padding-left:20px;}
.gnb li:hover a{color:#bb0000;}
.gnb li.active a{color:#bb0000;}




#cont1 img{width:100%;height:auto;}

#cont2 {margin-left:200px;padding:80px 0}
#cont2 .web li {background-color:#fff;height:500px;width:500px;margin-left:25px;margin-right:25px;}
#cont2 .web {display:flex;justify-content:center;padding:50px 0;/*position:absolute;top:50%;transform:translateY(-50%)*/}
#cont2 img {width:100%;}
#cont2 .pj_1 {position:relative;}
#cont2 .pj_1_title {background-color:rgba(67, 46, 143, 0.6);width:100%;height:100%;position:absolute;top:0;left:0;color:rgb(243, 243, 243);display:flex;justify-content:center;align-items:center;font-size:1.3rem;text-align:center;opacity:0;transition: opacity 0.5s }
#cont2 .pj_1:hover .pj_1_title {opacity:1} 
#cont2 .pj_2 {position:relative;}
#cont2 .pj_2_title {background-color:rgba(67, 46, 143, 0.6);width:100%;height:100%;position:absolute;top:0;left:0;color:rgb(243, 243, 243);display:flex;justify-content:center;align-items:center;font-size:1.3rem;text-align:center;opacity:0;transition: opacity 0.5s }
#cont2 .pj_2:hover .pj_2_title {opacity:1} 





#cont3 {margin-left:200px;padding:50px 0;}
#cont3 .graphic {display:flex;flex-wrap:wrap;justify-content:center;/*position:absolute;top:50%;transform:translateY(-50%)*/}
#cont3 .graphic li {background-color:#fff;height:300px;width:500px;margin-right:30px;margin-bottom:20px;overflow:hidden}
#cont3 .graphic li img {display:block;margin:0 auto;}

/* 그래픽 리스트 오버 효과 모음 */
#cont3 .gp_1 {position:relative;}
#cont3 .gp_1_title {background-color:rgba(177, 57, 87, 0.6);width:100%;height:100%;position:absolute;top:0;left:0;color:rgb(243, 243, 243);display:flex;justify-content:center;align-items:center;font-size:1.3rem;text-align:center;opacity:0;transition: opacity 0.5s }
#cont3 .gp_1:hover .gp_1_title {opacity:1} 
#cont3 .gp_2 {position:relative;}
#cont3 .gp_2_title {background-color:rgba(177, 57, 87, 0.6);width:100%;height:100%;position:absolute;top:0;left:0;color:rgb(243, 243, 243);display:flex;justify-content:center;align-items:center;font-size:1.3rem;text-align:center;opacity:0;transition: opacity 0.5s }
#cont3 .gp_2:hover .gp_2_title {opacity:1} 
#cont3 .gp_3 {position:relative;}
#cont3 .gp_3_title {background-color:rgba(177, 57, 87, 0.6);width:100%;height:100%;position:absolute;top:0;left:0;color:rgb(243, 243, 243);display:flex;justify-content:center;align-items:center;font-size:1.3rem;text-align:center;opacity:0;transition: opacity 0.5s }
#cont3 .gp_3:hover .gp_3_title {opacity:1} 
#cont3 .gp_4 {position:relative;}
#cont3 .gp_4_title {background-color:rgba(177, 57, 87, 0.6);width:100%;height:100%;position:absolute;top:0;left:0;color:rgb(243, 243, 243);display:flex;justify-content:center;align-items:center;font-size:1.3rem;text-align:center;opacity:0;transition: opacity 0.5s }
#cont3 .gp_4:hover .gp_4_title {opacity:1} 
#cont3 .gp_5 {position:relative;}
#cont3 .gp_5_title {background-color:rgba(177, 57, 87, 0.6);width:100%;height:100%;position:absolute;top:0;left:0;color:rgb(243, 243, 243);display:flex;justify-content:center;align-items:center;font-size:1.3rem;text-align:center;opacity:0;transition: opacity 0.5s }
#cont3 .gp_5:hover .gp_5_title {opacity:1} 
#cont3 .gp_6 {position:relative;}
#cont3 .gp_6_title {background-color:rgba(177, 57, 87, 0.6);width:100%;height:100%;position:absolute;top:0;left:0;color:rgb(243, 243, 243);display:flex;justify-content:center;align-items:center;font-size:1.3rem;text-align:center;opacity:0;transition: opacity 0.5s }
#cont3 .gp_6:hover .gp_6_title {opacity:1}
#cont3 .gp_7 {position:relative;}
#cont3 .gp_7_title {background-color:rgba(177, 57, 87, 0.6);width:100%;height:100%;position:absolute;top:0;left:0;color:rgb(243, 243, 243);display:flex;justify-content:center;align-items:center;font-size:1.3rem;text-align:center;opacity:0;transition: opacity 0.5s }
#cont3 .gp_7:hover .gp_7_title {opacity:1}  
#cont3 .gp_8 {position:relative;}
#cont3 .gp_8_title {background-color:rgba(177, 57, 87, 0.6);width:100%;height:100%;position:absolute;top:0;left:0;color:rgb(243, 243, 243);display:flex;justify-content:center;align-items:center;font-size:1.3rem;text-align:center;opacity:0;transition: opacity 0.5s }
#cont3 .gp_8:hover .gp_8_title {opacity:1}  
#cont3 span {display:block;}
#cont3 .text_small {font-size:0.8rem;}



#cont4 {margin-left:200px;padding:50px 0;display:flex;justify-content:center;}
#cont4 .about {width:700px;height:500px;padding-top:200px;line-height:2rem;}
#cont4 img {width:100%;}
.about_text {margin-top:20px;}


#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: none;    
}
#modal .body {
    padding: 20px;
    position: absolute;
    left:50%;transform:translate(-50%,-50%);top:50%;
    width:1200px;overflow:auto;height:90%;
    /*opacity: 0;*/
    /*transform: translate(-50%, -50%);*/
}
#modal .body img {
    display: block;
    margin:0 auto;
    margin-bottom: 40px;

}
#modal .body .button {
    text-align: center;
}
#modal .body .button button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background: rgb(185, 32, 32);
    color: white;
}








/* #li {width:calc((100% - 40px)/3)}
#li_big {width:calc((100% - 40px)/3*2 + 20px);}
img {width: 100% 여기서 이미지의 세로가 li 밖으로 튀어나오면 li에게 height와 overflow:hidden을 준다} */

