@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');
* {margin:0;padding:0;}
html {font-size:16px;}
a {text-decoration:none;}
body {font-size:16px;font-family:'Noto Sans KR', sans-serif;color:#000;}
h2 {font-size:2rem;}
h3 {font-weight:300;}
ul li {list-style:none;}
a{text-decoration:none; color:#000;}

header{width:200px; height:100%;position:fixed;z-index:100;}
#headerIn h1{font-size:24px; padding-top:5px;margin-bottom:250px;}
.gnb{}
.gnb li{text-align:left;font-size:15px;padding:10px 0}
.gnb li:hover a{color:#bb0000;}
.gnb li.active a{color:#bb0000;}




#cont1 img{width:100%;height:auto;}

#cont2 {background-color:blue;margin-left:200px;padding:80px 0}
#cont2 .web li {background-color:#fff;height:500px;width:500px;margin-left:25px;margin-right:25px;}
#cont2 .web {display:flex;justify-content:center;padding:50px 0;/*position:absolute;top:50%;transform:translateY(-50%)*/}

#cont3 {margin-left:200px;padding:50px 0;}
#cont3 .graphic {display:flex;flex-wrap:wrap;justify-content:center;/*position:absolute;top:50%;transform:translateY(-50%)*/}
#cont3 .graphic li {background-color:#fff;height:300px;width:500px;margin-right:30px;margin-bottom:20px;overflow:hidden;}
#cont3 .graphic li img {display:block;margin:0 auto;}


#cont4 {margin-left:200px;padding:50px 0;}
#cont4 .about {width:500px;height:500px;background-color:darkorchid;}


.mordal {position:absolute;width:80%;height:80%;background-color:rgba(0,0,0,0.7);left:250px;display:none;}
.mordal_cont {display:flex;flex-wrap:wrap;width:1000px;margin:0 auto;padding:100px 0}
.mordal .img_box {width:1000px;height:300px;}
.mordal .img_box img {width:100%;}
.title_box {text-align:center;width:100%;color:#fff;}






/* #li {width:calc((100% - 40px)/3)}
#li_big {width:calc((100% - 40px)/3*2 + 20px);}
img {width: 100% 여기서 이미지의 세로가 li 밖으로 튀어나오면 li에게 height와 overflow:hidden을 준다} */

